/* SectionTypography.css */

/* 부제목 */
.section-subtitle {
    font-size: 17px;
    font-weight: bold;
    margin: 8px 0 4px;
}

/* 소제목 */
.section-subheading {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0 4px;

    /* 부드러운 통합 애니메이션 */
    transition: color 0.5s ease, transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/* hover 효과 */
.section-subheading:hover {
    transition: color 0.5s ease, transform 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    color: #6A5ACD;
    transform: translateX(5px);
}
