/* SectionList.css */

/* 리스트 */
.section-list {
    padding-left: 20px;
}

.section-list li {
    text-align: left;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 1.6;
    color: #555;
    padding: 15px 0;
    border-bottom: 3px solid #eee;
    transition: color 0.5s ease, transform 0.5s ease;
}

/* hover */
.section-list li:hover {
    color: #6A5ACD;
    transition: color 0.5s ease, transform 0.5s ease;
    transform: translateX(5px);
}
