/* SectionBase.css */

/* 섹션 기본 */
.section {
    max-width: 880px;
    margin: 25px 16px;
    padding: 32px;
    border: 1px solid #e5e5e7;
    border-radius: 18px;
    background: #fff;
}

/* 넓은 화면 중앙 정렬  (880+16*2 = 912)*/
@media (min-width: 912px) {
    .section {
        margin: 25px auto;
    }
}
