/* SectionBase.css */

/* 섹션 기본 */
.section {
    max-width: 1000px;
    margin: 25px 16px;
    padding: 32px;
    border: 5px solid #e5e5e7;
    border-radius: 18px;
    background: #fff;
}

/* 넓은 화면 중앙 정렬  (1000+16*2 = 1032)*/
@media (min-width: 1032px) {
    .section {
        margin: 25px auto;
    }
}
