/* SectionList.css */

/* 리스트 */
.section-list {
    padding-left: 20px;
}

.section-list li {
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.6;
    color: #555;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    transition: color 0.25s ease, transform 0.25s ease;
}

/* hover */
.section-list li:hover {
    color: #6A5ACD;
    transform: translateX(10px);
}
