/* SectionImage.css */

.photo-wrapper {
    display: flex;
    justify-content: center;   /* 중앙 정렬 */
    align-items: center;
}

.photo-image {
    width: 60%;
    height: 60%;
    margin: 4px;
    padding: 4px;
    border: 5px solid #e5e5e7;
    border-radius: 18px;

    /* hover 변화가 부드럽게 적용되도록 미리 transition 지정 */
    transition: border 0.5s ease, transform 0.5s ease;
}


/* hover 효과 */
.photo-image:hover {
    /* hover 변화가 부드럽게 적용되도록 미리 transition 지정 */
    transition: border 0.5s ease, transform 0.5s ease;
    border: 5px solid #6A5ACD;
    transform: translateX(5px);
}