/* SectionText.css */

/* 부제목 */
.section-subtitle {
    font-size: 22px;
    font-weight: bold;
    margin: 8px 0 4px;
}

/* 소제목 */
.section-subheading {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0 4px;
}
